.p1{
	font-size:  20px;
}
.p2{
	font-size:  15px;
}
.table{
	border:  none;
	border-collapse:collapse;
	padding: 0;
}
.tr{
	border:  none;
	border-collapse:collapse;
	padding: 0;
}
.td{
	border:  none;
	border-collapse:collapse;
	padding: 0;
}